<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= locals.title %></title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <h1><%= locals.title %></h1>
  <p><%= locals.date %></p>
  <hr />
  <div class="content">
    <%- locals.content %>
  </div>
</body>
</html>
